<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Worth</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1>Stock Worth</h1>
  <p class="count">Entrance Count: {{ count }}</p>

  <div class="stock-container">
    {% for coin in coins %}
    <div class="stock-box">
      <h3>{{ coin.name }}</h3>
      <p>Symbol: {{ coin.symbol }}</p>
      <p>Stock Worth: <span id="{{ coin.symbol }}-worth">{{ coin.worth }}</span> $</p>
    </div>
    {% endfor %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
