<!DOCTYPE html>
<html>
<head>
    <title>Coin/Share Worth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Coin/Share Worth</h1>
    {% for coin in coins %}
        <div class="coin-box">
            <h3>{{ coin.name }}</h3>
            <p>Net Worth: <span id="{{ coin.symbol }}-worth"></span> $</p>
            <button onclick="showNetWorth(this, '{{ coin.symbol }}')">Show Net Worth</button>
            <p class="net-worth hidden" id="{{ coin.symbol }}-net-worth"></p>
        </div>
    {% endfor %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        function showNetWorth(button, symbol) {
            var netWorth = button.nextElementSibling;
            var realTimeNetWorth = document.getElementById(symbol + '-worth').textContent;
            document.getElementById(symbol + '-net-worth').textContent = realTimeNetWorth + " $";
            netWorth.classList.toggle('hidden');
        }
    </script>
</body>
</html>
