/* Body background */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #220e40, #340634);
  color: white;
  font-family: Arial, sans-serif;
}

/* Stock box styles */
.stock-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
}

.stock-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.stock-box h3 {
  margin-top: 0;
  font-size: 24px;
}

.stock-box p {
  margin-bottom: 10px;
}

/* Title styles */
h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

/* Stock container styles */
.stock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock-box {
  flex: 0 0 calc(25% - 40px);
  margin: 20px;
  animation: flashing-border 2s infinite;
}

@keyframes flashing-border {
  0% {
    border: 2px solid #fff;
  }
  50% {
    border: 2px solid #8f94fb;
  }
  100% {
    border: 2px solid #fff;
  }
}
